{
  "token": "insert-bot-token-here",
  "prefix": "!",
  "ownerID": "123456789123456",
  "permLevels": [
    {
      "level": 0,
      "name": "User"
    },
    {
      "level": 3,
      "name": "Administrator"
    },
    {
      "level": 10,
      "name": "Bot Owner"
    }

  ]
}